


doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Modal
    link(rel='stylesheet', href='/stylesheets/modal.css')
  body
  .body_modal
    div(class="modal")
      img( class="cancel" src='https://s3.amazonaws.com/static.graphemica.com/glyphs/i500s/000/002/004/original/0058-500x500.png?1275291789', alt='')
      form( class='put_method'  method="put" action="/dashboard"   )
      
        input(type="hidden" class='user_id' name='id'    )
        label(for='name'    ) Name
        input(type='text', class='edit_login' name='login'  )
        label(for='password') Password
        input(type='text', class='edit_password' name='password')
        button(type='submit') Edit






  
